<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>管理者画面サブ</title>
  </head>
  <body>
    <br><h1>シフト一覧表</h1><br>
      <a href="/recieve/view_log/2022/<%= @r %>">前の月</a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/recieve/view_log/2022/<%= @n %>">次の月</a>
      <%= @tables %>
  </body>
</html>
