<html lang="ja">
<head>
<meta charset="utf-8">
<title>HTML入門-フォームの作成</title>
</head>
<body>
<h1>お問合せ</h1>
<form action="#" method="post">
	<p>名前<br>
	<input type="text" name="name"></p>
	<p>日付<br>
	<input type="text" name="day"></p>
	<p>時間<br>
	<input type="text" name="time"></p>
	<p>備考欄<br>
	<textarea name="comment" cols="30" rows="5"></textarea></p>
	<p><input type="submit" value="送信"></p>
</form>
</body>
