<html lang="ja">
  
  <head>
    <meta charset="utf-8">
    <title>シフト申告書</title><br>
    <style>
      .box select{
          width: 150px;
          font-size: 20px;
      }
      .ex1 {
          width: 150px;
          background-color:#D7EEFF;
          border: 2px solid #DDDDDD;
          font-size: 20px;
      }
      textarea {
          background-color:#D7EEFF;
          border: 2px solid #DDDDDD;
          font-size: 20px;
      }
      .ex3 {
          background-color:#8EB8FF;
          border: 2px solid #8EB8FF;
          border-radius: 30px;
          width: 90px;
          height: 50px;
          font-size: 25px;
          font-weight: 500;
          color:#FFFFFF;
      }
    </style>
  </head>

  <body>
    
    <h1>シフト申告書</h1><br>
    
    <div class="box">
      
      <select class="year">
	<option value="jan">2022年</option>
	<option value="feb">2023年</option>
	<option value="mar">2024年</option>
	<option value="apr">2025年</option>
	<option value="may">2026年</option>
	<option value="jun">2027年</option>
	<option value="jul">2028年</option>
	<option value="aug">2029年</option>
	<option value="sep">2030年</option>
	<option value="oct">2031年</option>
	<option value="nov">2032年</option>
      </select>
      <select class="month">
	<option value="jan">1月</option>
	<option value="feb">2月</option>
	<option value="mar">3月</option>
	<option value="apr">4月</option>
	<option value="may">5月</option>
	<option value="jun">6月</option>
	<option value="jul">7月</option>
	<option value="aug">8月</option>
	<option value="sep">9月</option>
	<option value="oct">10月</option>
	<option value="nov">11月</option>
	<option value="dec">12月</option>
      </select>
      
    </div>

    <table id="data" class="table" border="1" >
      
      <tr bgcolor="#FFD5EC">
	<th></th>
	<th>10-11</th>
	<th>11-12</th>
	<th>12-13</th>
	<th>13-14</th>
	<th>14-15</th>
	<th>15-16</th>
	<th>16-17</th>
	<th>17-18</th>
	<th>18-19</th>
	<th>19-20</th>
	<th>20-21</th>
	<th>21-22</th>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">1</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">3</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">4</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">5</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">6</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">7</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">8</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">9</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">10</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">11</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">12</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">13</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">14</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">15</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">16</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">17</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">18</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">19</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">20</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">21</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">22</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">23</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">24</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">25</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">26</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">27</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">28</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">29</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">30</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td bgcolor="#FFD5EC">31</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>

      <form form method="POST" action="example.php" onSubmit="return check()">
	<p><font size="4">名前（必須）<br>
	    <input type="text" name="name" size="50" class="ex1" required>
	</p>
	<p><font size="4">備考欄<br>
	    <textarea name="comment" cols="40" rows="10" class="ex2"></textarea>
	</p>
	<br>
	<p>＊希望する時間帯を全て選択してください</p>
	
    </table>
    <br><br>
    <p><input type="submit" value="送信" class="ex3"></p><br><br><br><br>

    <script type="text/javascript">
      var data = document.getElementById("data");
      data.onclick = function(evt){
          var target = evt.target || event.srcElement ;
          if( ( target.tagName || "" ).match(/td/i) ){
              target.style.backgroundColor =
		  target.style.backgroundColor ? "" : "#ffff00" ;
          }
      }
      function check(){
          if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
              return true; // 「OK」時は送信を実行
          }
          else{ // 「キャンセル」時の処理
              window.alert('キャンセルされました'); // 警告ダイアログを表示
              return false; // 送信を中止
          }
      }
    </script>
    
  </body>

